MONGODB_URI=mongodb+srv://Yuktha:mypassword@cluster0.xuix4nl.mongodb.net/StoryStore?retryWrites=true&w=majority
DATABASE_NAME=StoryStore
JWT_SECRET=abcdefghijklmnopqrstuvwxyz123456
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
DEBUG=False
FILE_STORAGE_TYPE=local
LOCAL_FILE_STORAGE_PATH=./uploads
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
FRONTEND_URL=http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173
VAPID_PUBLIC_KEY=BG6VfT_06VFjjbpHN2mMTaKTGaGJ_zWjP9J0os-ZpTLO2fSA5BUZJt0Kp4gp5WOUbadOBtAdr4SRaRCVLCCkZRo
VAPID_PRIVATE_KEY=ntX-aoEztZ9AhazEdTjcgsRkpP29NwILakQYN809Mp8
VAPID_SUBJECT_EMAIL=mailto:no-reply@storystore.app