# MongoDB
MONGODB_URI=
DATABASE_NAME=

# JWT
JWT_SECRET=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

# Server
SERVER_HOST=
SERVER_PORT=
DEBUG=

# File Storage
FILE_STORAGE_TYPE=
LOCAL_FILE_STORAGE_PATH=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=

# CORS
FRONTEND_URL=
ALLOWED_ORIGINS=
